---
import { getCollection } from "astro:content";
import Link from "./Link.astro";
import "../styles/global.css";

const posts = await getCollection("blog");
---

<div id="container">
  <div class="flex h-64 flex-col items-start justify-center">
    <h1 class="text-heading-1 text-3xl font-semibold">
      Hello, I'm Kyryl Shchabelskyi.
    </h1>
    <p class="mt-2">
      Hey, my name is <b>Kyryl Shchabelskyi</b>. So just hi motherfuckers,
      bitch.
    </p>
  </div>
  <div class="flex flex-col">
    <h2 class="text-2xl font-semibold">Recent blog posts:</h2>
    <ol class="mt-4 list-decimal space-y-2 px-10">
      {
        posts.map((post) => (
          <li>
            <Link class="flex justify-between" href={`blog/${post.slug}`}>
              {post.data.title}{" "}
              <span class="text-gray-400">
                {post.data.date.toUTCString().slice(0, -13)}
              </span>
            </Link>
          </li>
        ))
      }
    </ol>
  </div>
</div>
